@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    background-color: bisque;
}

@font-face {
    font-family: 'Retro';
    src: url('../fonts/MyGirlIsRetro-0Grz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocabe';
    src: url('../fonts/RocabeTrialRegular-OGMep.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karmatic';
    src: url('../fonts/KarmaticArcade-6Yrp1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}